<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>nonmarkingreturn</string>
      <string>uni0002</string>
      <string>u0021</string>
      <string>u0022</string>
      <string>u0023</string>
      <string>u0024</string>
      <string>u0025</string>
      <string>u0026</string>
      <string>u0027</string>
      <string>u0028</string>
      <string>u0029</string>
      <string>u002A</string>
      <string>u002B</string>
      <string>u002C</string>
      <string>u002D</string>
      <string>u002E</string>
      <string>u002F</string>
      <string>u0030</string>
      <string>u0031</string>
      <string>u0032</string>
      <string>u0033</string>
      <string>u0034</string>
      <string>u0035</string>
      <string>u0036</string>
      <string>u0037</string>
      <string>u0038</string>
      <string>u0039</string>
      <string>u003A</string>
      <string>u003B</string>
      <string>u003C</string>
      <string>u003D</string>
      <string>u003E</string>
      <string>u003F</string>
      <string>u0040</string>
      <string>u0041</string>
      <string>u0042</string>
      <string>u0043</string>
      <string>u0044</string>
      <string>u0045</string>
      <string>u0046</string>
      <string>u0047</string>
      <string>u0048</string>
      <string>u0049</string>
      <string>u004A</string>
      <string>u004B</string>
      <string>u004C</string>
      <string>u004D</string>
      <string>u004E</string>
      <string>u004F</string>
      <string>u0050</string>
      <string>u0051</string>
      <string>u0052</string>
      <string>u0053</string>
      <string>u0054</string>
      <string>u0055</string>
      <string>u0056</string>
      <string>u0057</string>
      <string>u0058</string>
      <string>u0059</string>
      <string>u005A</string>
      <string>u005B</string>
      <string>u005C</string>
      <string>u005D</string>
      <string>u005E</string>
      <string>u005F</string>
      <string>u0060</string>
      <string>u0061</string>
      <string>u0062</string>
      <string>u0063</string>
      <string>u0064</string>
      <string>u0065</string>
      <string>u0066</string>
      <string>u0067</string>
      <string>u0068</string>
      <string>u0069</string>
      <string>u006A</string>
      <string>u006B</string>
      <string>u006C</string>
      <string>u006D</string>
      <string>u006E</string>
      <string>u006F</string>
      <string>u0070</string>
      <string>u0071</string>
      <string>u0072</string>
      <string>u0073</string>
      <string>u0074</string>
      <string>u0075</string>
      <string>u0076</string>
      <string>u0077</string>
      <string>u0078</string>
      <string>u0079</string>
      <string>u007A</string>
      <string>u007B</string>
      <string>u007C</string>
      <string>u007D</string>
      <string>u007E</string>
      <string>uni0001</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>uni1780</string>
      <string>uni1781</string>
      <string>uni1782</string>
      <string>uni1783</string>
      <string>uni1784</string>
      <string>uni1785</string>
      <string>uni1786</string>
      <string>uni1787</string>
      <string>uni1788</string>
      <string>uni1789</string>
      <string>uni178A</string>
      <string>uni178B</string>
      <string>uni178C</string>
      <string>uni178D</string>
      <string>uni178E</string>
      <string>uni178F</string>
      <string>uni1790</string>
      <string>uni1791</string>
      <string>uni1792</string>
      <string>uni1793</string>
      <string>uni1794</string>
      <string>uni1795</string>
      <string>uni1796</string>
      <string>uni1797</string>
      <string>uni1798</string>
      <string>uni1799</string>
      <string>uni179A</string>
      <string>uni179B</string>
      <string>uni179C</string>
      <string>uni179D</string>
      <string>uni179E</string>
      <string>uni179F</string>
      <string>uni17A0</string>
      <string>uni17A1</string>
      <string>uni17A2</string>
      <string>uni17A3</string>
      <string>uni17A4</string>
      <string>uni17A5</string>
      <string>uni17A6</string>
      <string>uni17A7</string>
      <string>uni17A8</string>
      <string>uni17A9</string>
      <string>uni17AA</string>
      <string>uni17AB</string>
      <string>uni17AC</string>
      <string>uni17AD</string>
      <string>uni17AE</string>
      <string>uni17AF</string>
      <string>uni17B0</string>
      <string>uni17B1</string>
      <string>uni17B2</string>
      <string>uni17B3</string>
      <string>uni17B4</string>
      <string>uni17B5</string>
      <string>uni17B6</string>
      <string>uni17B7</string>
      <string>uni17B8</string>
      <string>uni17B9</string>
      <string>uni17BA</string>
      <string>uni17BB</string>
      <string>uni17BC</string>
      <string>uni17BD</string>
      <string>uni17BE</string>
      <string>uni17BF</string>
      <string>uni17C0</string>
      <string>uni17C1</string>
      <string>uni17C2</string>
      <string>uni17C3</string>
      <string>uni17C4</string>
      <string>uni17C5</string>
      <string>uni17C6</string>
      <string>uni17C7</string>
      <string>uni17C8</string>
      <string>uni17C9</string>
      <string>uni17CA</string>
      <string>uni17CB</string>
      <string>uni17CC</string>
      <string>uni17CD</string>
      <string>uni17CE</string>
      <string>uni17CF</string>
      <string>uni17D0</string>
      <string>uni17D1</string>
      <string>uni17D2</string>
      <string>uni17D3</string>
      <string>uni17D4</string>
      <string>uni17D5</string>
      <string>uni17D6</string>
      <string>uni17D7</string>
      <string>uni17D8</string>
      <string>uni17D9</string>
      <string>uni17DA</string>
      <string>uni17DB</string>
      <string>uni17DC</string>
      <string>uni17DD</string>
      <string>uni17E0</string>
      <string>uni17E1</string>
      <string>uni17E2</string>
      <string>uni17E3</string>
      <string>uni17E4</string>
      <string>uni17E5</string>
      <string>uni17E6</string>
      <string>uni17E7</string>
      <string>uni17E8</string>
      <string>uni17E9</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>NULL</string>
      <string>u0020</string>
      <string>sub80</string>
      <string>sub81</string>
      <string>sub82</string>
      <string>sub84</string>
      <string>sub85</string>
      <string>sub86</string>
      <string>sub87</string>
      <string>sub89</string>
      <string>sub8A</string>
      <string>sub8B</string>
      <string>sub8C</string>
      <string>sub8E</string>
      <string>sub8F</string>
      <string>sub90</string>
      <string>sub91</string>
      <string>sub92</string>
      <string>sub93</string>
      <string>sub95</string>
      <string>sub96</string>
      <string>sub97</string>
      <string>sub98</string>
      <string>sub9B</string>
      <string>sub9C</string>
      <string>subA0</string>
      <string>subA2</string>
      <string>sub83</string>
      <string>sub88</string>
      <string>sub8D</string>
      <string>sub94</string>
      <string>sub99</string>
      <string>sub9F</string>
      <string>sub9A</string>
      <string>sub9A.long</string>
      <string>uni1789.a</string>
      <string>uni17BF.long</string>
      <string>uni17C0.long</string>
      <string>uB7_CD</string>
      <string>sub89.a</string>
      <string>uB6_80</string>
      <string>uB6_81</string>
      <string>uB6_82</string>
      <string>uB6_83</string>
      <string>uB6_84</string>
      <string>uB6_85</string>
      <string>uB6_86</string>
      <string>uB6_87</string>
      <string>uB6_88</string>
      <string>uB6_89</string>
      <string>uB6_8A</string>
      <string>uB6_8B</string>
      <string>uB6_8C</string>
      <string>uB6_8D</string>
      <string>uB6_8E</string>
      <string>uB6_8F</string>
      <string>uB6_90</string>
      <string>uB6_91</string>
      <string>uB6_92</string>
      <string>uB6_93</string>
      <string>uB6_94</string>
      <string>uB6_95</string>
      <string>uB6_96</string>
      <string>uB6_97</string>
      <string>uB6_98</string>
      <string>uB6_99</string>
      <string>uB6_9A</string>
      <string>uB6_9B</string>
      <string>uB6_9C</string>
      <string>uB6_9F</string>
      <string>uB6_A0</string>
      <string>uB6_A1</string>
      <string>uB6_A2</string>
      <string>uC5_80</string>
      <string>uC5_81</string>
      <string>uC5_82</string>
      <string>uC5_83</string>
      <string>uC5_84</string>
      <string>uC5_85</string>
      <string>uC5_86</string>
      <string>uC5_87</string>
      <string>uC5_88</string>
      <string>uC5_89</string>
      <string>uC5_8A</string>
      <string>uC5_8B</string>
      <string>uC5_8C</string>
      <string>uC5_8D</string>
      <string>uC5_8E</string>
      <string>uC5_8F</string>
      <string>uC5_90</string>
      <string>uC5_91</string>
      <string>uC5_92</string>
      <string>uC5_93</string>
      <string>uC5_94</string>
      <string>uC5_95</string>
      <string>uC5_96</string>
      <string>uC5_97</string>
      <string>uC5_98</string>
      <string>uC5_99</string>
      <string>uC5_9A</string>
      <string>uC5_9B</string>
      <string>uC5_9C</string>
      <string>uC5_9F</string>
      <string>uC5_A</string>
      <string>uC5_A1</string>
      <string>uC5_A2</string>
      <string>uB6_89.a</string>
      <string>uC5_89.a</string>
      <string>subB6_83</string>
      <string>subB6_88</string>
      <string>subB6_8D</string>
      <string>subB6_94</string>
      <string>subB6_99</string>
      <string>subB6_9F</string>
      <string>subC5_83</string>
      <string>subC5_88</string>
      <string>subC5_8D</string>
      <string>subC5_94</string>
      <string>subC5_99</string>
      <string>subC5_9F</string>
      <string>u65</string>
      <string>uE0</string>
      <string>uE2</string>
      <string>uE9</string>
      <string>uF4</string>
      <string>glyph00334</string>
      <string>glyph00335</string>
      <string>glyph00336</string>
      <string>glyph00337</string>
      <string>glyph00338</string>
      <string>glyph00339</string>
      <string>glyph00340</string>
      <string>glyph00341</string>
      <string>glyph00342</string>
      <string>glyph00343</string>
      <string>glyph00344</string>
      <string>glyph00345</string>
      <string>glyph00346</string>
      <string>glyph00347</string>
      <string>glyph00348</string>
      <string>glyph00349</string>
      <string>glyph00350</string>
      <string>glyph00351</string>
      <string>glyph00352</string>
      <string>glyph00353</string>
      <string>glyph00354</string>
      <string>glyph00355</string>
      <string>glyph00356</string>
      <string>glyph00357</string>
      <string>glyph00358</string>
      <string>glyph00359</string>
      <string>glyph00360</string>
      <string>glyph00361</string>
      <string>glyph00362</string>
      <string>glyph00363</string>
      <string>glyph00364</string>
      <string>glyph00365</string>
      <string>glyph00366</string>
      <string>glyph00367</string>
      <string>glyph00368</string>
      <string>glyph00369</string>
      <string>glyph00370</string>
      <string>glyph00371</string>
      <string>glyph00372</string>
      <string>glyph00373</string>
      <string>glyph00374</string>
      <string>glyph00375</string>
    </array>
  </dict>
</plist>
