<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>glyph00334</key>
    <string>glyph00334.glif</string>
    <key>glyph00335</key>
    <string>glyph00335.glif</string>
    <key>glyph00336</key>
    <string>glyph00336.glif</string>
    <key>glyph00337</key>
    <string>glyph00337.glif</string>
    <key>glyph00338</key>
    <string>glyph00338.glif</string>
    <key>glyph00339</key>
    <string>glyph00339.glif</string>
    <key>glyph00340</key>
    <string>glyph00340.glif</string>
    <key>glyph00341</key>
    <string>glyph00341.glif</string>
    <key>glyph00342</key>
    <string>glyph00342.glif</string>
    <key>glyph00343</key>
    <string>glyph00343.glif</string>
    <key>glyph00344</key>
    <string>glyph00344.glif</string>
    <key>glyph00345</key>
    <string>glyph00345.glif</string>
    <key>glyph00346</key>
    <string>glyph00346.glif</string>
    <key>glyph00347</key>
    <string>glyph00347.glif</string>
    <key>glyph00348</key>
    <string>glyph00348.glif</string>
    <key>glyph00349</key>
    <string>glyph00349.glif</string>
    <key>glyph00350</key>
    <string>glyph00350.glif</string>
    <key>glyph00351</key>
    <string>glyph00351.glif</string>
    <key>glyph00352</key>
    <string>glyph00352.glif</string>
    <key>glyph00353</key>
    <string>glyph00353.glif</string>
    <key>glyph00354</key>
    <string>glyph00354.glif</string>
    <key>glyph00355</key>
    <string>glyph00355.glif</string>
    <key>glyph00356</key>
    <string>glyph00356.glif</string>
    <key>glyph00357</key>
    <string>glyph00357.glif</string>
    <key>glyph00358</key>
    <string>glyph00358.glif</string>
    <key>glyph00359</key>
    <string>glyph00359.glif</string>
    <key>glyph00360</key>
    <string>glyph00360.glif</string>
    <key>glyph00361</key>
    <string>glyph00361.glif</string>
    <key>glyph00362</key>
    <string>glyph00362.glif</string>
    <key>glyph00363</key>
    <string>glyph00363.glif</string>
    <key>glyph00364</key>
    <string>glyph00364.glif</string>
    <key>glyph00365</key>
    <string>glyph00365.glif</string>
    <key>glyph00366</key>
    <string>glyph00366.glif</string>
    <key>glyph00367</key>
    <string>glyph00367.glif</string>
    <key>glyph00368</key>
    <string>glyph00368.glif</string>
    <key>glyph00369</key>
    <string>glyph00369.glif</string>
    <key>glyph00370</key>
    <string>glyph00370.glif</string>
    <key>glyph00371</key>
    <string>glyph00371.glif</string>
    <key>glyph00372</key>
    <string>glyph00372.glif</string>
    <key>glyph00373</key>
    <string>glyph00373.glif</string>
    <key>glyph00374</key>
    <string>glyph00374.glif</string>
    <key>glyph00375</key>
    <string>glyph00375.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>sub80</key>
    <string>sub80.glif</string>
    <key>sub81</key>
    <string>sub81.glif</string>
    <key>sub82</key>
    <string>sub82.glif</string>
    <key>sub83</key>
    <string>sub83.glif</string>
    <key>sub84</key>
    <string>sub84.glif</string>
    <key>sub85</key>
    <string>sub85.glif</string>
    <key>sub86</key>
    <string>sub86.glif</string>
    <key>sub87</key>
    <string>sub87.glif</string>
    <key>sub88</key>
    <string>sub88.glif</string>
    <key>sub89</key>
    <string>sub89.glif</string>
    <key>sub89.a</key>
    <string>sub89.a.glif</string>
    <key>sub8A</key>
    <string>sub8A_.glif</string>
    <key>sub8B</key>
    <string>sub8B_.glif</string>
    <key>sub8C</key>
    <string>sub8C_.glif</string>
    <key>sub8D</key>
    <string>sub8D_.glif</string>
    <key>sub8E</key>
    <string>sub8E_.glif</string>
    <key>sub8F</key>
    <string>sub8F_.glif</string>
    <key>sub90</key>
    <string>sub90.glif</string>
    <key>sub91</key>
    <string>sub91.glif</string>
    <key>sub92</key>
    <string>sub92.glif</string>
    <key>sub93</key>
    <string>sub93.glif</string>
    <key>sub94</key>
    <string>sub94.glif</string>
    <key>sub95</key>
    <string>sub95.glif</string>
    <key>sub96</key>
    <string>sub96.glif</string>
    <key>sub97</key>
    <string>sub97.glif</string>
    <key>sub98</key>
    <string>sub98.glif</string>
    <key>sub99</key>
    <string>sub99.glif</string>
    <key>sub9A</key>
    <string>sub9A_.glif</string>
    <key>sub9A.long</key>
    <string>sub9A_.long.glif</string>
    <key>sub9B</key>
    <string>sub9B_.glif</string>
    <key>sub9C</key>
    <string>sub9C_.glif</string>
    <key>sub9F</key>
    <string>sub9F_.glif</string>
    <key>subA0</key>
    <string>subA_0.glif</string>
    <key>subA2</key>
    <string>subA_2.glif</string>
    <key>subB6_83</key>
    <string>subB_6_83.glif</string>
    <key>subB6_88</key>
    <string>subB_6_88.glif</string>
    <key>subB6_8D</key>
    <string>subB_6_8D_.glif</string>
    <key>subB6_94</key>
    <string>subB_6_94.glif</string>
    <key>subB6_99</key>
    <string>subB_6_99.glif</string>
    <key>subB6_9F</key>
    <string>subB_6_9F_.glif</string>
    <key>subC5_83</key>
    <string>subC_5_83.glif</string>
    <key>subC5_88</key>
    <string>subC_5_88.glif</string>
    <key>subC5_8D</key>
    <string>subC_5_8D_.glif</string>
    <key>subC5_94</key>
    <string>subC_5_94.glif</string>
    <key>subC5_99</key>
    <string>subC_5_99.glif</string>
    <key>subC5_9F</key>
    <string>subC_5_9F_.glif</string>
    <key>u0020</key>
    <string>u0020.glif</string>
    <key>u0021</key>
    <string>u0021.glif</string>
    <key>u0022</key>
    <string>u0022.glif</string>
    <key>u0023</key>
    <string>u0023.glif</string>
    <key>u0024</key>
    <string>u0024.glif</string>
    <key>u0025</key>
    <string>u0025.glif</string>
    <key>u0026</key>
    <string>u0026.glif</string>
    <key>u0027</key>
    <string>u0027.glif</string>
    <key>u0028</key>
    <string>u0028.glif</string>
    <key>u0029</key>
    <string>u0029.glif</string>
    <key>u002A</key>
    <string>u002A_.glif</string>
    <key>u002B</key>
    <string>u002B_.glif</string>
    <key>u002C</key>
    <string>u002C_.glif</string>
    <key>u002D</key>
    <string>u002D_.glif</string>
    <key>u002E</key>
    <string>u002E_.glif</string>
    <key>u002F</key>
    <string>u002F_.glif</string>
    <key>u0030</key>
    <string>u0030.glif</string>
    <key>u0031</key>
    <string>u0031.glif</string>
    <key>u0032</key>
    <string>u0032.glif</string>
    <key>u0033</key>
    <string>u0033.glif</string>
    <key>u0034</key>
    <string>u0034.glif</string>
    <key>u0035</key>
    <string>u0035.glif</string>
    <key>u0036</key>
    <string>u0036.glif</string>
    <key>u0037</key>
    <string>u0037.glif</string>
    <key>u0038</key>
    <string>u0038.glif</string>
    <key>u0039</key>
    <string>u0039.glif</string>
    <key>u003A</key>
    <string>u003A_.glif</string>
    <key>u003B</key>
    <string>u003B_.glif</string>
    <key>u003C</key>
    <string>u003C_.glif</string>
    <key>u003D</key>
    <string>u003D_.glif</string>
    <key>u003E</key>
    <string>u003E_.glif</string>
    <key>u003F</key>
    <string>u003F_.glif</string>
    <key>u0040</key>
    <string>u0040.glif</string>
    <key>u0041</key>
    <string>u0041.glif</string>
    <key>u0042</key>
    <string>u0042.glif</string>
    <key>u0043</key>
    <string>u0043.glif</string>
    <key>u0044</key>
    <string>u0044.glif</string>
    <key>u0045</key>
    <string>u0045.glif</string>
    <key>u0046</key>
    <string>u0046.glif</string>
    <key>u0047</key>
    <string>u0047.glif</string>
    <key>u0048</key>
    <string>u0048.glif</string>
    <key>u0049</key>
    <string>u0049.glif</string>
    <key>u004A</key>
    <string>u004A_.glif</string>
    <key>u004B</key>
    <string>u004B_.glif</string>
    <key>u004C</key>
    <string>u004C_.glif</string>
    <key>u004D</key>
    <string>u004D_.glif</string>
    <key>u004E</key>
    <string>u004E_.glif</string>
    <key>u004F</key>
    <string>u004F_.glif</string>
    <key>u0050</key>
    <string>u0050.glif</string>
    <key>u0051</key>
    <string>u0051.glif</string>
    <key>u0052</key>
    <string>u0052.glif</string>
    <key>u0053</key>
    <string>u0053.glif</string>
    <key>u0054</key>
    <string>u0054.glif</string>
    <key>u0055</key>
    <string>u0055.glif</string>
    <key>u0056</key>
    <string>u0056.glif</string>
    <key>u0057</key>
    <string>u0057.glif</string>
    <key>u0058</key>
    <string>u0058.glif</string>
    <key>u0059</key>
    <string>u0059.glif</string>
    <key>u005A</key>
    <string>u005A_.glif</string>
    <key>u005B</key>
    <string>u005B_.glif</string>
    <key>u005C</key>
    <string>u005C_.glif</string>
    <key>u005D</key>
    <string>u005D_.glif</string>
    <key>u005E</key>
    <string>u005E_.glif</string>
    <key>u005F</key>
    <string>u005F_.glif</string>
    <key>u0060</key>
    <string>u0060.glif</string>
    <key>u0061</key>
    <string>u0061.glif</string>
    <key>u0062</key>
    <string>u0062.glif</string>
    <key>u0063</key>
    <string>u0063.glif</string>
    <key>u0064</key>
    <string>u0064.glif</string>
    <key>u0065</key>
    <string>u0065.glif</string>
    <key>u0066</key>
    <string>u0066.glif</string>
    <key>u0067</key>
    <string>u0067.glif</string>
    <key>u0068</key>
    <string>u0068.glif</string>
    <key>u0069</key>
    <string>u0069.glif</string>
    <key>u006A</key>
    <string>u006A_.glif</string>
    <key>u006B</key>
    <string>u006B_.glif</string>
    <key>u006C</key>
    <string>u006C_.glif</string>
    <key>u006D</key>
    <string>u006D_.glif</string>
    <key>u006E</key>
    <string>u006E_.glif</string>
    <key>u006F</key>
    <string>u006F_.glif</string>
    <key>u0070</key>
    <string>u0070.glif</string>
    <key>u0071</key>
    <string>u0071.glif</string>
    <key>u0072</key>
    <string>u0072.glif</string>
    <key>u0073</key>
    <string>u0073.glif</string>
    <key>u0074</key>
    <string>u0074.glif</string>
    <key>u0075</key>
    <string>u0075.glif</string>
    <key>u0076</key>
    <string>u0076.glif</string>
    <key>u0077</key>
    <string>u0077.glif</string>
    <key>u0078</key>
    <string>u0078.glif</string>
    <key>u0079</key>
    <string>u0079.glif</string>
    <key>u007A</key>
    <string>u007A_.glif</string>
    <key>u007B</key>
    <string>u007B_.glif</string>
    <key>u007C</key>
    <string>u007C_.glif</string>
    <key>u007D</key>
    <string>u007D_.glif</string>
    <key>u007E</key>
    <string>u007E_.glif</string>
    <key>u65</key>
    <string>u65.glif</string>
    <key>uB6_80</key>
    <string>uB_6_80.glif</string>
    <key>uB6_81</key>
    <string>uB_6_81.glif</string>
    <key>uB6_82</key>
    <string>uB_6_82.glif</string>
    <key>uB6_83</key>
    <string>uB_6_83.glif</string>
    <key>uB6_84</key>
    <string>uB_6_84.glif</string>
    <key>uB6_85</key>
    <string>uB_6_85.glif</string>
    <key>uB6_86</key>
    <string>uB_6_86.glif</string>
    <key>uB6_87</key>
    <string>uB_6_87.glif</string>
    <key>uB6_88</key>
    <string>uB_6_88.glif</string>
    <key>uB6_89</key>
    <string>uB_6_89.glif</string>
    <key>uB6_89.a</key>
    <string>uB_6_89.a.glif</string>
    <key>uB6_8A</key>
    <string>uB_6_8A_.glif</string>
    <key>uB6_8B</key>
    <string>uB_6_8B_.glif</string>
    <key>uB6_8C</key>
    <string>uB_6_8C_.glif</string>
    <key>uB6_8D</key>
    <string>uB_6_8D_.glif</string>
    <key>uB6_8E</key>
    <string>uB_6_8E_.glif</string>
    <key>uB6_8F</key>
    <string>uB_6_8F_.glif</string>
    <key>uB6_90</key>
    <string>uB_6_90.glif</string>
    <key>uB6_91</key>
    <string>uB_6_91.glif</string>
    <key>uB6_92</key>
    <string>uB_6_92.glif</string>
    <key>uB6_93</key>
    <string>uB_6_93.glif</string>
    <key>uB6_94</key>
    <string>uB_6_94.glif</string>
    <key>uB6_95</key>
    <string>uB_6_95.glif</string>
    <key>uB6_96</key>
    <string>uB_6_96.glif</string>
    <key>uB6_97</key>
    <string>uB_6_97.glif</string>
    <key>uB6_98</key>
    <string>uB_6_98.glif</string>
    <key>uB6_99</key>
    <string>uB_6_99.glif</string>
    <key>uB6_9A</key>
    <string>uB_6_9A_.glif</string>
    <key>uB6_9B</key>
    <string>uB_6_9B_.glif</string>
    <key>uB6_9C</key>
    <string>uB_6_9C_.glif</string>
    <key>uB6_9F</key>
    <string>uB_6_9F_.glif</string>
    <key>uB6_A0</key>
    <string>uB_6_A_0.glif</string>
    <key>uB6_A1</key>
    <string>uB_6_A_1.glif</string>
    <key>uB6_A2</key>
    <string>uB_6_A_2.glif</string>
    <key>uB7_CD</key>
    <string>uB_7_C_D_.glif</string>
    <key>uC5_80</key>
    <string>uC_5_80.glif</string>
    <key>uC5_81</key>
    <string>uC_5_81.glif</string>
    <key>uC5_82</key>
    <string>uC_5_82.glif</string>
    <key>uC5_83</key>
    <string>uC_5_83.glif</string>
    <key>uC5_84</key>
    <string>uC_5_84.glif</string>
    <key>uC5_85</key>
    <string>uC_5_85.glif</string>
    <key>uC5_86</key>
    <string>uC_5_86.glif</string>
    <key>uC5_87</key>
    <string>uC_5_87.glif</string>
    <key>uC5_88</key>
    <string>uC_5_88.glif</string>
    <key>uC5_89</key>
    <string>uC_5_89.glif</string>
    <key>uC5_89.a</key>
    <string>uC_5_89.a.glif</string>
    <key>uC5_8A</key>
    <string>uC_5_8A_.glif</string>
    <key>uC5_8B</key>
    <string>uC_5_8B_.glif</string>
    <key>uC5_8C</key>
    <string>uC_5_8C_.glif</string>
    <key>uC5_8D</key>
    <string>uC_5_8D_.glif</string>
    <key>uC5_8E</key>
    <string>uC_5_8E_.glif</string>
    <key>uC5_8F</key>
    <string>uC_5_8F_.glif</string>
    <key>uC5_90</key>
    <string>uC_5_90.glif</string>
    <key>uC5_91</key>
    <string>uC_5_91.glif</string>
    <key>uC5_92</key>
    <string>uC_5_92.glif</string>
    <key>uC5_93</key>
    <string>uC_5_93.glif</string>
    <key>uC5_94</key>
    <string>uC_5_94.glif</string>
    <key>uC5_95</key>
    <string>uC_5_95.glif</string>
    <key>uC5_96</key>
    <string>uC_5_96.glif</string>
    <key>uC5_97</key>
    <string>uC_5_97.glif</string>
    <key>uC5_98</key>
    <string>uC_5_98.glif</string>
    <key>uC5_99</key>
    <string>uC_5_99.glif</string>
    <key>uC5_9A</key>
    <string>uC_5_9A_.glif</string>
    <key>uC5_9B</key>
    <string>uC_5_9B_.glif</string>
    <key>uC5_9C</key>
    <string>uC_5_9C_.glif</string>
    <key>uC5_9F</key>
    <string>uC_5_9F_.glif</string>
    <key>uC5_A</key>
    <string>uC_5_A_.glif</string>
    <key>uC5_A1</key>
    <string>uC_5_A_1.glif</string>
    <key>uC5_A2</key>
    <string>uC_5_A_2.glif</string>
    <key>uE0</key>
    <string>uE_0.glif</string>
    <key>uE2</key>
    <string>uE_2.glif</string>
    <key>uE9</key>
    <string>uE_9.glif</string>
    <key>uF4</key>
    <string>uF_4.glif</string>
    <key>uni0001</key>
    <string>uni0001.glif</string>
    <key>uni0002</key>
    <string>uni0002.glif</string>
    <key>uni1780</key>
    <string>uni1780.glif</string>
    <key>uni1781</key>
    <string>uni1781.glif</string>
    <key>uni1782</key>
    <string>uni1782.glif</string>
    <key>uni1783</key>
    <string>uni1783.glif</string>
    <key>uni1784</key>
    <string>uni1784.glif</string>
    <key>uni1785</key>
    <string>uni1785.glif</string>
    <key>uni1786</key>
    <string>uni1786.glif</string>
    <key>uni1787</key>
    <string>uni1787.glif</string>
    <key>uni1788</key>
    <string>uni1788.glif</string>
    <key>uni1789</key>
    <string>uni1789.glif</string>
    <key>uni1789.a</key>
    <string>uni1789.a.glif</string>
    <key>uni178A</key>
    <string>uni178A_.glif</string>
    <key>uni178B</key>
    <string>uni178B_.glif</string>
    <key>uni178C</key>
    <string>uni178C_.glif</string>
    <key>uni178D</key>
    <string>uni178D_.glif</string>
    <key>uni178E</key>
    <string>uni178E_.glif</string>
    <key>uni178F</key>
    <string>uni178F_.glif</string>
    <key>uni1790</key>
    <string>uni1790.glif</string>
    <key>uni1791</key>
    <string>uni1791.glif</string>
    <key>uni1792</key>
    <string>uni1792.glif</string>
    <key>uni1793</key>
    <string>uni1793.glif</string>
    <key>uni1794</key>
    <string>uni1794.glif</string>
    <key>uni1795</key>
    <string>uni1795.glif</string>
    <key>uni1796</key>
    <string>uni1796.glif</string>
    <key>uni1797</key>
    <string>uni1797.glif</string>
    <key>uni1798</key>
    <string>uni1798.glif</string>
    <key>uni1799</key>
    <string>uni1799.glif</string>
    <key>uni179A</key>
    <string>uni179A_.glif</string>
    <key>uni179B</key>
    <string>uni179B_.glif</string>
    <key>uni179C</key>
    <string>uni179C_.glif</string>
    <key>uni179D</key>
    <string>uni179D_.glif</string>
    <key>uni179E</key>
    <string>uni179E_.glif</string>
    <key>uni179F</key>
    <string>uni179F_.glif</string>
    <key>uni17A0</key>
    <string>uni17A_0.glif</string>
    <key>uni17A1</key>
    <string>uni17A_1.glif</string>
    <key>uni17A2</key>
    <string>uni17A_2.glif</string>
    <key>uni17A3</key>
    <string>uni17A_3.glif</string>
    <key>uni17A4</key>
    <string>uni17A_4.glif</string>
    <key>uni17A5</key>
    <string>uni17A_5.glif</string>
    <key>uni17A6</key>
    <string>uni17A_6.glif</string>
    <key>uni17A7</key>
    <string>uni17A_7.glif</string>
    <key>uni17A8</key>
    <string>uni17A_8.glif</string>
    <key>uni17A9</key>
    <string>uni17A_9.glif</string>
    <key>uni17AA</key>
    <string>uni17A_A_.glif</string>
    <key>uni17AB</key>
    <string>uni17A_B_.glif</string>
    <key>uni17AC</key>
    <string>uni17A_C_.glif</string>
    <key>uni17AD</key>
    <string>uni17A_D_.glif</string>
    <key>uni17AE</key>
    <string>uni17A_E_.glif</string>
    <key>uni17AF</key>
    <string>uni17A_F_.glif</string>
    <key>uni17B0</key>
    <string>uni17B_0.glif</string>
    <key>uni17B1</key>
    <string>uni17B_1.glif</string>
    <key>uni17B2</key>
    <string>uni17B_2.glif</string>
    <key>uni17B3</key>
    <string>uni17B_3.glif</string>
    <key>uni17B4</key>
    <string>uni17B_4.glif</string>
    <key>uni17B5</key>
    <string>uni17B_5.glif</string>
    <key>uni17B6</key>
    <string>uni17B_6.glif</string>
    <key>uni17B7</key>
    <string>uni17B_7.glif</string>
    <key>uni17B8</key>
    <string>uni17B_8.glif</string>
    <key>uni17B9</key>
    <string>uni17B_9.glif</string>
    <key>uni17BA</key>
    <string>uni17B_A_.glif</string>
    <key>uni17BB</key>
    <string>uni17B_B_.glif</string>
    <key>uni17BC</key>
    <string>uni17B_C_.glif</string>
    <key>uni17BD</key>
    <string>uni17B_D_.glif</string>
    <key>uni17BE</key>
    <string>uni17B_E_.glif</string>
    <key>uni17BF</key>
    <string>uni17B_F_.glif</string>
    <key>uni17BF.long</key>
    <string>uni17B_F_.long.glif</string>
    <key>uni17C0</key>
    <string>uni17C_0.glif</string>
    <key>uni17C0.long</key>
    <string>uni17C_0.long.glif</string>
    <key>uni17C1</key>
    <string>uni17C_1.glif</string>
    <key>uni17C2</key>
    <string>uni17C_2.glif</string>
    <key>uni17C3</key>
    <string>uni17C_3.glif</string>
    <key>uni17C4</key>
    <string>uni17C_4.glif</string>
    <key>uni17C5</key>
    <string>uni17C_5.glif</string>
    <key>uni17C6</key>
    <string>uni17C_6.glif</string>
    <key>uni17C7</key>
    <string>uni17C_7.glif</string>
    <key>uni17C8</key>
    <string>uni17C_8.glif</string>
    <key>uni17C9</key>
    <string>uni17C_9.glif</string>
    <key>uni17CA</key>
    <string>uni17C_A_.glif</string>
    <key>uni17CB</key>
    <string>uni17C_B_.glif</string>
    <key>uni17CC</key>
    <string>uni17C_C_.glif</string>
    <key>uni17CD</key>
    <string>uni17C_D_.glif</string>
    <key>uni17CE</key>
    <string>uni17C_E_.glif</string>
    <key>uni17CF</key>
    <string>uni17C_F_.glif</string>
    <key>uni17D0</key>
    <string>uni17D_0.glif</string>
    <key>uni17D1</key>
    <string>uni17D_1.glif</string>
    <key>uni17D2</key>
    <string>uni17D_2.glif</string>
    <key>uni17D3</key>
    <string>uni17D_3.glif</string>
    <key>uni17D4</key>
    <string>uni17D_4.glif</string>
    <key>uni17D5</key>
    <string>uni17D_5.glif</string>
    <key>uni17D6</key>
    <string>uni17D_6.glif</string>
    <key>uni17D7</key>
    <string>uni17D_7.glif</string>
    <key>uni17D8</key>
    <string>uni17D_8.glif</string>
    <key>uni17D9</key>
    <string>uni17D_9.glif</string>
    <key>uni17DA</key>
    <string>uni17D_A_.glif</string>
    <key>uni17DB</key>
    <string>uni17D_B_.glif</string>
    <key>uni17DC</key>
    <string>uni17D_C_.glif</string>
    <key>uni17DD</key>
    <string>uni17D_D_.glif</string>
    <key>uni17E0</key>
    <string>uni17E_0.glif</string>
    <key>uni17E1</key>
    <string>uni17E_1.glif</string>
    <key>uni17E2</key>
    <string>uni17E_2.glif</string>
    <key>uni17E3</key>
    <string>uni17E_3.glif</string>
    <key>uni17E4</key>
    <string>uni17E_4.glif</string>
    <key>uni17E5</key>
    <string>uni17E_5.glif</string>
    <key>uni17E6</key>
    <string>uni17E_6.glif</string>
    <key>uni17E7</key>
    <string>uni17E_7.glif</string>
    <key>uni17E8</key>
    <string>uni17E_8.glif</string>
    <key>uni17E9</key>
    <string>uni17E_9.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
